In [1]:
# Base Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import tmdbsimple as tmdb
import os, time,json
import tmdbsimple as tmdb

In [2]:
# designating folder 'Data' to save my API calls
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz']

In [3]:
# loading previous MovieTime Analysis notebook dataframes
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)

In [4]:
# checking for missing values
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82150 entries, 0 to 82149
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82150 non-null  object
 1   titleType       82150 non-null  object
 2   primaryTitle    82150 non-null  object
 3   originalTitle   82150 non-null  object
 4   isAdult         82150 non-null  int64
 5   startYear       82150 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  82150 non-null  int64
 8   genres          82150 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.6+ MB

In [5]:
# dropping endYear column, all null
basics = basics.drop(columns = ["endYear"])

In [6]:
# checking for missing values
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342956 entries, 0 to 1342955
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1342956 non-null  object
 1   ordering         1342956 non-null  int64
 2   title            1342956 non-null  object
 3   region           1342956 non-null  object
 4   language         3681 non-null     object
 5   types            963321 non-null   object
 6   attributes       44751 non-null    object
 7   isOriginalTitle  1341581 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 82.0+ MB

In [7]:
# replacing null values as unknown
akas["language"].fillna("Unknown", inplace = True)
akas["types"].fillna("Unknown", inplace = True)
akas["attributes"].fillna("Unknown", inplace = True)
akas["isOriginalTitle"].fillna("Unknown", inplace = True)

In [8]:
# check for missing values
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1263582 entries, 0 to 1263581
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1263582 non-null  object
 1   averageRating  1263582 non-null  float64
 2   numVotes       1263582 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

In [9]:
# tmdbsimple
!pip install tmdbsimple  --no-warn-script-location

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tmdbsimple in c:\users\joshu\appdata\roaming\python\python310\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\joshu\appdata\roaming\python\python310\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\joshu\appdata\roaming\python\python310\site-packages (from requests->tmdbsimple) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\joshu\appdata\roaming\python\python310\site-packages (from requests->tmdbsimple) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\joshu\appdata\roaming\python\python310\site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\joshu\appdata\roaming\python\python310\site-packages (from requests->tmdbsimple) (3.3)

In [10]:
# API credentials
with open('/Users/joshu/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [11]:
# instantiating API key
tmdb.API_KEY =  login['api-key']