# TMDF Movies Analysis MySQL Database

## Imports

In [2]:
# imports
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pymysql
pymysql.install_as_MySQLdb()

connection_str = "mysql+pymysql://root:root@localhost/movies"

In [3]:
engine = create_engine(connection_str)

In [4]:
create_database(connection_str)

In [5]:
database_exists(connection_str)

True

In [6]:
## Check if database exists, if not, create it
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

In [7]:
basics_df = pd.read_csv('Data/title_basics.csv.gz')
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy

## Normalize and Transform Columns

- Convert the single string of genres from title basics into 2 new tables.
1. title_genres: with the columns:

 - tconst
 - genre_id

In [8]:
basics_df.to_sql('title_basics', engine, if_exists = 'replace')

82150